/* .header{
    display: flex ;
    justify-content: space-between;
    margin: 20px;
}

.secondCard{
    margin-top: 10px;
}
.header2{
    display: flex;
    margin: 5px;
    margin-top: 20px;
}
.rightHeader2{
    display: flex;
    margin-left: 20px;
    margin-bottom: 10px;
    
}
 */
 .main{
    display: grid; 
    grid-template-columns: 800px 200px; 
    /* display:flex;
    flex-direction: row; */
    width:100%;
 }
 .paymentContainer{
    position: absolute;
    flex: auto;
    top:20%;
    left:40%;
    transform: translate(-50%, -50%);
    border: 2px solid #e6dede;
    box-shadow: 24;
    padding: 12px;
 }

 .column2{
    margin-bottom: 10px;
    margin-left: 16px;
 }

