/* .header{
    display: flex ;
    justify-content: space-between;
    margin: 20px;
}

.secondCard{
    margin-top: 10px;
}
.header2{
    display: flex;
    margin: 5px;
    margin-top: 20px;
}
.rightHeader2{
    display: flex;
    margin-left: 20px;
    margin-bottom: 10px;
    
}
 */
 .paymentContainer{
    position: absolute;
    top:51%;
    left:50%;
    transform: translate(-50%, -50%);
    background-color: #F0F0F0;
    border: 2px solid #e6dede;
    box-shadow: 24;
    padding: 12px,
 }
